<section id="menu-game" class="hidden">

    <h2>
        PERTARUNGAN
    </h2>


    <!-- MONSTER -->

    <div id="status-monster">

        <h3>
            ORC GURUN
        </h3>

        <p>

            HP:

            <span id="hp-monster">
                250
            </span>

            /

            <span id="max-hp-monster">
                250
            </span>

        </p>

    </div>


    <!-- KARAKTER AKTIF -->

    <div id="status-karakter">

        <h3>
            Karakter aktif:
        </h3>

        <p>

            Karakter aktif:

            <span id="karakter-aktif">
                Belum dipilih
            </span>

        </p>

    </div>


    <!-- TIM PEMAIN -->

    <div id="tim-pemain">

        <h3>
            Tim:
        </h3>

        <div id="daftar-tim"></div>

    </div>


    <!-- AKSI -->

    <div id="aksi-karakter">

        <h3>
            Aksi:
        </h3>

        <button>
            Serang
        </button>

        <button>
            Skill
        </button>

    </div>


    <hr>


    <!-- KELUAR -->

    <button onclick="kirimAksi('kabur')">
        Kabur
    </button>

</section>