<section id="prolog" class="hidden">

    <div id="teks-prolog"></div>


    <div id="pilihan-karakter">

        <button
            class="tombol-karakter"
            data-karakter="elsa"
            onclick="pilihkarakter('elsa')"
        >
            Elsa
        </button>


        <button
            class="tombol-karakter"
            data-karakter="bruno"
            onclick="pilihkarakter('bruno')"
        >
            Bruno
        </button>


        <button
            class="tombol-karakter"
            data-karakter="dewa"
            onclick="pilihkarakter('dewa')"
        >
            Dewa
        </button>


        <button
            class="tombol-karakter"
            data-karakter="joy"
            onclick="pilihkarakter('joy')"
        >
            Joy
        </button>


        <button
            class="tombol-karakter"
            data-karakter="mikasa"
            onclick="pilihkarakter('mikasa')"
        >
            Mikasa
        </button>

    </div>


    <div id="navigasi-prolog">

        <button onclick="siapBertarung()">
            Siap
        </button>

        <button onclick="kembaliKeMenuUtama()">
            Kembali
        </button>

    </div>

</section>